<div id="card-container">
 
    <div class="card pricing-card" *ngIf="pricingCard">
        <h5 class="card-title ">{{pricingCardTitle}}</h5>
        <ul>
            <li>
                <span>Data Storage</span><span> 1GB/Month</span>
            </li>
            <li>
                <span>Traffic Limit </span><span> 1000/Month</span>
            </li>
            <li>
                <span>Support Provided</span> <span> 8hrs/Day</span>
            </li>
        </ul>
        <div class="card-button">
            <button class="p-button-sm" *ngIf="showPricingCardButton" pButton>Details</button>
        </div>
    </div>

    <div class="card" *ngIf="!pricingCard">
        <h5 class="card-title" *ngIf="showCardTitle">{{cardTitle}}</h5>
        <div class="card-image-div" *ngIf="showCardImage">
            <p-image class="card-image-container" imageClass="card-image" *ngIf="showCardImage" [src]="imageSource" alt="Image" width="350" height="200"></p-image>
            <p *ngIf="showImageCardText">{{imageCardText}}</p>
        </div>
        

        <h6 class="main-card-text">{{mainCardText}}</h6>

        <div class="card-button">
            <button class="p-button-sm p-button-success" *ngIf="showCardButton" pButton>Click me</button>
        </div>
    </div>
    
 
</div>
<button class="p-button-sm p-button-success"  (click)='changeView()' pButton>Change Card Type</button>
