.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d5d5;
}

.register-form {
    background-color: #fff;
    padding: 5rem;
    border-radius: 5px;
}

.error{
    color:red;
    max-width: 80%;
}

#registerForm-password-requirements-header{
    color:brown;
}
#registerForm-password-requirements{
    line-height: 1.5;
    color: gray;
    list-style: none;
}
