.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d5d5;
}

.login-form {
    background-color: #fff;
    padding: 5rem;
    border-radius: 5px;
}

.formControl{
    
    display: flex ;
    flex-direction: column-reverse ;
}

h6{
   font-weight: lighter; 
}
.error{
    color:red;
}
