<header>
    <ul>
        <li><a>Link1</a></li>
        <li><a>Link2</a></li>
        <li><a>Link3</a></li>
        <li><a>Link4</a></li>
    </ul>
    <div id="header-user-status">
        <span id="header-user-status-logged" *ngIf="isLoggedIn">
            <span id="userPicture-nav-bar">PP<p id="userPicture-nav-bar-notificationCount">{{notificationCount}}</p></span>
             <p *ngIf="showUserName">{{user}} </p>
            <button pButton  type="button" label="Log Out" (click)="handleClick()"  
              class="p-button-sm header-user-status-button "></button>
        </span>
        <span *ngIf="!isLoggedIn">
            <button pButton type="button" label="Log In" (click)="handleClick()" 
              class="p-button-sm header-user-status-button"></button>
        </span>
        
    </div>


</header>